.selected-card:hover {
  background-color: darkgray;
}

.junkai-btn.active {
  background-color: darkgray;
}
.junkai-btn:hover {
  background-color: darkgray;
}

/* Bootstrap を読み込む */
@import "~bootstrap/scss/bootstrap";